
.article-wrapper {
    .title-wrapper {
        h1 {
            font-size: 3.2rem;
            line-height: 3.2rem;
        }
        .title {
            margin-bottom: 0px;
        }
        padding-bottom: 16px;
    }
}

.content-wrapper {
    padding-top: 1.2rem;
}
