
.app-container {
    padding: 0;

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.terminal-container {
    box-shadow: 10px 10px 11px -3px rgba(176,176,176,1);
    padding: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
    margin-top: 30px;
    max-height: 250px;
}

.main-container {
    background-color: rgba(250,250,250,.35);
    margin-top: 3%;
    height: 100%;
    width: 100%;
    padding-top: 4%;
    border: 1px #e7e7e7 solid;
}
