
<div class="container-fluid about-page">
  <div class="about-jumbotron">
    <div class="row justify-content-center">
      <h1 class="display-4 text-uppercase font-weight-bold">
        <strong>Admin/Developer</strong>
      </h1>
    </div>
    <div class="row justify-content-center">
      <i class="fa fa-github" data-toggle="tooltip" data-placement="bottom" title="github"></i>
      <i class="fa fa-linkedin" data-toggle="tooltip" data-placement="bottom" title="linkedin"></i>
      <i class="fa fa-envelope" data-toggle="tooltip" data-placement="bottom" title="email"></i>
    </div>
    <div class="row justify-content-center">
      <button type="button" class="btn btn-lg btn-outline-light">Contact Me</button>
    </div>
  </div>

  <div class="about-me">

    <div class="row justify-content-center">
      <i class="fa fa-angle-left font-weight-bold"></i>
      <h1 class="text-uppercase font-weight-bold">About Me</h1>
      <i class="fa fa-angle-right font-weight-bold"></i>
    </div>

    <div class="card-deck">
      <div class="card text-center">
        <div class="card-body">
          <div class="card-title"><i class="fa fa-mobile"></i></div>
          <p class="card-text">some info</p>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <div class="card-title"><i class="fa fa-terminal"></i></div>
          <p class="card-text">some info</p>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <div class="card-title"><i class="fa fa-code"></i></div>
          <p class="card-text">some info</p>
        </div>
      </div>
    </div>

  </div>
</div>
