
.about-page {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;

    .about-jumbotron {
        color: white;
        // background-color: rgba(57,57,57,1);
        box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.75);
        padding-top: 6rem;
        padding-bottom: 4rem;

            h1.display-4 {
                border-bottom: .4rem white solid;
            }
            a {
                all: unset;
            }

            i.fa {
                font-size: 4rem;
                margin-top: 1.4rem;
                margin-left: 1rem;
                margin-right: 1rem;
                margin-bottom: .86rem;
                transition: color 0.8s ease;
            }

            i.fa:hover {
                color: black;
            }
    }

    .about-me {
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
        color: rgba(70,70,70,1);
        background-color: rgba(245,245,245,1);
        height: 100%;

        i {
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 4.2rem;
        }
        h1 {
            font-size: 3rem;
            margin-bottom: 0px;
            border-bottom: .4rem rgba(70,70,70,1) solid;
        }

        .card-deck {
            margin: 2rem;
            margin-top: 2rem;

            .card {
                box-shadow: 6px 6px 10px -5px rgba(0,0,0,0.60);
            }

            .card-text {
                margin: 1rem;
            }
        }
    }
}
